body, button, input, select, textarea {
    color: #1a1a1a;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}
body {
	overflow-y: hidden;
	background:#eaeaea;
}
html, body, #container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#mobile-nav {
	display: none;
}
#container{
	position:relative;
	min-height:100%;
  background: -webkit-linear-gradient(top, black 20%, #191327 80%, #2b2048);
  .anm-canvas {
		display: none;
	}
	&.show {
    background: -webkit-linear-gradient(top, black 20%, #191327 80%, #2b2048);
	}
}
.header-star-col{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
}
.footer-star-col{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.body-wrap{
  margin-bottom: 80px;
}
.mid-col {
	position:absolute;
	right:0;
	min-height:100%;
	background:#eaeaea;
	left: 300px;
	width: auto;
	@extend %trans;
	&.show {
		background: none;
		opacity: .9;
		@extend %anmLeftIn;
		.article {
			@extend %trans;
			background: rgba(255,255,255,.3);
		}
	}
	&.hide {
		@extend %anmLeftOut;
	}
}
